/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Ignore scannernetwork
.scannerwork

# Ignore dump.php
dump.php

# cursor ignore
.cursorignore

.cursor

# ignore guide midtrans
MIDTRANS_CALLBACK_SETUP.md
CLOUDFLARE_TUNNEL_SETUP.md
CSRF_SESSION_SETUP.md
DECISION_TABLE_REPORT.md
BLACK_BOX_DECISION_TABLE.md
FINAL_TEST_REPORT.md
MIDTRANS_FIX_GUIDE.md
README_TESTING.md
TEST_CASE_MAPPING.md


# Ignore testing midtrans
test_midtrans_callback.php
test_simple_callback.php
test_notification_debug.php

